[submodule "Lib/ThirdParty/lvgl"]
	path = Lib/ThirdParty/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "Lib/ThirdParty/littlefs/source"]
	path = Lib/ThirdParty/littlefs/source
	url = https://github.com/littlefs-project/littlefs.git
[submodule "Lib/ThirdParty/L_button/button"]
	path = Lib/ThirdParty/L_button/button
	url = https://github.com/LinChuHong/MultiButton.git
[submodule "Lib/ThirdParty/NORFLASH/w25qxx/Source"]
	path = Lib/ThirdParty/NORFLASH/w25qxx/Source
	url = https://github.com/libdriver/w25qxx.git
